[submodule "imperial-hero-2-pwtools"]
	path = imperial-hero-2-pwtools
	url = https://github.com/paulwratt/imperial-hero-2-pwtools
[submodule "torn-city-pwtools"]
	path = torn-city-pwtools
	url = https://github.com/paulwratt/torn-city-pwtools
[submodule "nz-kiwibank-pwtools"]
	path = nz-kiwibank-pwtools
	url = https://github.com/paulwratt/nz-kiwibank-pwtools
